.gallery {
  column-count: 3; 
  column-gap: 15px; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.galleryItem {
  break-inside: avoid;
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.galleryImage {
  width: 100%;
  display: block;
  transition: transform 0.2s ease-in-out;
}

.galleryImage:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .gallery {
      column-count: 2;
      column-gap: 15px;
  }
}

@media (max-width: 768px) {
  .gallery {
      column-count: 1;
      column-gap: 10px;
  }
}

@media (max-width: 480px) {
  .galleryItem {
      margin-bottom: 10px;
  }

  .galleryImage:hover {
      transform: none;
  }
}

/* Estilos para el popup */
.imageDialog .p-dialog-content {
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullImage {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.p-dialog .p-dialog-header {
  background-color: black;
  border-bottom: none;
}

.p-dialog .p-dialog-content {
  background-color: black;
}

.p-dialog .p-dialog-header-icon {
  color: white;
}

.p-dialog .p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.85);
}
